.roster {
	margin-inline: auto;
	max-width: 36rem;
	&.v-enter-active,
	&.v-leave-active {
		transition: opacity .25s ease, transform .25s ease;
	}
	&.v-enter-from,
	&.v-leave-to {
		opacity: 0;
		transform: scale(0.95);
	}
}

// BUTTONS

.roster-button-container {
	@extend %button-container;
}

.roster-button {
	@extend %button;
	--button-color: var(--color-interactive);
	&.roster-button-delete {
		--button-color: var(--color-primary);
	}
	&.roster-button-export,
	&.roster-button-import {
		--button-color: var(--color-secondary);
		color: black;
	}
}

// LIST

.roster-list {
	list-style: none;
	margin: 0;
	margin-block: 2rem;
	padding: 0;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.roster-item {
	display: flex;
	column-gap: 2rem;
	align-items: center;
	&.v-enter-active,
	&.v-leave-active {
		transition: opacity .2s ease, transform .2s ease;
	}
	&.v-enter-from,
	&.v-leave-to {
		opacity: 0;
		transform: scale(0.8);
	}

	> div:nth-child(1) {
		flex: 0 0 10rem;
	}

	> div:nth-child(2) {
		flex: 1;
	}
}

.roster-item-portrait {
	display: block;
	width: 100%;
	border: 4px solid var(--color-primary);
	overflow: hidden;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background-color: color-mix(in srgb, var(--color-interactive), transparent 90% );
	background-size: cover;
	background-position: center;
	transition: background-position .2s;
	cursor: pointer;
	position: relative;
	&.alignment-top-left {
		background-position: top left;
	}
	&.alignment-top-center {
		background-position: top center;
	}
	&.alignment-top-right {
		background-position: top right;
	}
	&.alignment-center-left {
		background-position: center left;
	}
	&.alignment-center-right {
		background-position: center right;
	}
	&.alignment-bottom-left {
		background-position: bottom left;
	}
	&.alignment-bottom-center {
		background-position: bottom center;
	}
	&.alignment-bottom-right {
		background-position: bottom right;
	}
}

.roster-item-portrait-placeholder {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 4rem;
	color: color-mix(in srgb, var(--color-interactive), transparent 80% );
}

.roster-item-name {
	margin: 0;
	font-family: var(--font-heading);
	font-size: 1.25rem;
	font-weight: 700;
	color: var(--color-primary);
	white-space: nowrap;
	font-style: normal;
	line-height: 1.1;
	text-transform: uppercase;
	cursor: pointer;
}

.roster-description {
	margin: .25rem 0 0;
	font-size: smaller;
	font-style: italic;
}

.roster-date {
	margin: .5rem 0 0;
	font-size: .75rem;
	text-transform: uppercase;
	color: var(--color-label);
}

.roster-item-button-container {
	@extend %button-container;
	--button-font-size: .66rem;
	margin-block-start: .5rem;
	> div {
		justify-content: flex-start;
	}
}

.roster-item-button {
	@extend %button;
	&.roster-button-delete {
		--button-color: var(--color-primary);
	}
	&.roster-button-export,
	&.roster-button-import {
		--button-color: var(--color-secondary);
		color: black;
	}
}

.roster-input {
	display: none;
}

// IMPORT FEEDBACK

.modal-import-details {
	display: flex;
	column-gap: 2rem;
	align-items: flex-start;
	justify-content: center;
	> * {
		text-align: left;
	}
}

.modal-import-prefix {
	font-size: .75rem;
	font-weight: bold;
	color: var(--color-primary);

}

.modal-import-date {
	font-size: .75rem;
	color: var(--color-label);
}

.modal-import-date-suffix {
	color: white;
	font-weight: bold;
}
