.trait-set-style-default {
	margin-top: 20pt;
	display: flex;

	.trait-set-header {
		position: relative;
		flex: 1;
		display: flex;
	}
	
	.trait-set-header-inner {
		@extend %editable;
		flex-grow: 1;
		writing-mode: vertical-lr;
		display: inline;
		transform: rotate(180deg);
		> div {
			color: var(--color-primary);
			background-color: var(--color-secondary);
			font-weight: 800;
			text-align: center;
			text-transform: uppercase;
			font-style: normal;
			font-size: 8.6pt;
		}
		&.v-enter-active,
		&.v-leave-active {
			transition: opacity .2s ease, transform .2s ease;
		}
		&.v-enter-from,
		&.v-leave-to {
			opacity: 0;
			transform: rotate(180deg) translateY(1rem);
		}
	}
	
	.trait-columns {
		display: flex;
		align-items: stretch;
		column-gap: 12pt;
		margin-top: 0pt;
		margin-left: 13pt;
		flex-grow: 1;
		width: 100%;
	}
	
	.trait-column {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		row-gap: .5rem;
		position: relative;
		&:not(:first-child) {
			display: none;
		}
	}
	
	// TRAIT
	
	.trait {
		margin-left: 0 !important;
		width: 100%;
		position: relative;
	}
	
	.trait-inner {
		@extend %editable;
		&.trait-enter-active,
		&.trait-leave-active {
			transition: opacity .2s ease, transform .2s ease;
		}
		&.trait-enter-from,
		&.trait-leave-to {
			opacity: 0;
			transform: translateY(-1rem);
		}
	}
	
	.trait-title {
		font-family: var(--font-heading);
		color: var(--color-primary);
		text-transform: uppercase;
		font-weight: 700;
		font-style: normal;
		font-size: 9pt;
		line-height: 13px;
		margin: 0;
		padding-bottom: .5rem;
		border-bottom: 2px solid var(--color-primary);
		b, strong {
			font-weight: 800;
		}
	}		
	.trait-value {
		display: inline-block;
		margin-left: 4pt !important;
		font-size: 11pt;
	}	
	.trait-description {
		font-style: italic;
		margin-left: 0 !important;
		margin-top: 4pt !important;
	}
	
	.trait-sfx {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		row-gap: 12pt;
	
		li {
			padding-left: 1.6em;
			text-indent: -1.6em;
			margin-top: -1.5pt;
			font-style: normal;
			margin-right: 0;
			font-size: 7.75pt;
			&::before {
				font-family: var(--font-heading);
				content: "\25cf";
				font-size: 14pt;
				color: var(--color-primary);
				padding-right: 0.3em;
				position: relative;
				top: 1pt;
				left: -1pt;
			}
	
			+ & {
				padding-top: 1pt;
			}
	
		}
		
	}
		
	.trait-sfx-name {
		font-style: italic;
	}
	
}

.trait-set-style-distinctions {
	@extend .trait-set-style-default;

	.trait-title {
		font-family: var(--font-secondary);
		color: black;
		text-transform: none;
		font-weight: 500;
		font-size: 12pt;
	}

}

.trait-set-style-two-columns-detailed {
	@extend .trait-set-style-default;

	.trait-title {
		font-family: var(--font-secondary);
		color: black;
		text-transform: none;
		font-weight: 500;
		font-size: 12pt;
	}

	.trait-sfx {
		display: none;
	}

	.trait-column {
		&:not(:first-child) {
			display: flex;
		}
	}
}