.trait-set-style-default {
	display: flex;

	.trait-set-header {
		position: relative;
		display: flex;
	}
	
	.trait-set-header-inner {
		writing-mode: vertical-lr;
		display: inline;
		transform: rotate(180deg);
		> div {
			color: var(--color-primary);
			background-color: var(--color-secondary);
			font-weight: 800;
			text-align: center;
			text-transform: uppercase;
			font-style: normal;
			font-size: .717rem;
		}
	}
	
	.trait-set-body {
		flex: 1;
		margin-left: 1.1rem;
	}
	
	.trait-list {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		row-gap: .5rem;
		position: relative;
	}
	
	// TRAIT
	
	.trait {
		margin-left: 0 !important;
		width: 100%;
		position: relative;
	}
	
	.trait-title {
		font-family: var(--font-heading);
		color: var(--color-primary);
		text-transform: uppercase;
		font-weight: 700;
		font-style: normal;
		font-size: .75rem;
		line-height: 13px;
		margin: 0;
		b, strong {
			font-weight: 800;
		}
	}	
	&.trait-set-has-feature-sfx .trait-title,
	&.trait-set-has-feature-subtraits .trait-title,
	&.trait-set-has-feature-description .trait-title {
		padding-bottom: .5rem;
		border-bottom: 2px solid var(--color-primary);
	}	
	.trait-value {
		display: inline-block;
		margin-left: .333rem !important;
		.c {
			font-size: .917rem;
			&:not(.active) { display: none; }
		}
	}	
	.trait-description {
		font-style: italic;
		margin-left: 0 !important;
		margin-top: .333rem !important;
	}
	
	.trait-sfx {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		row-gap: 1rem;
	
		li {
			padding-left: 1.6em;
			text-indent: -1.6em;
			margin-top: -.125rem;
			font-style: normal;
			margin-right: 0;
			font-size: .646rem;
			&::before {
				font-family: var(--font-heading);
				content: "\25cf";
				font-size: .875rem;
				color: var(--color-primary);
				padding-right: 0.3em;
				position: relative;
				top: .083rem;
				left: -.083rem;
			}
	
			+ & {
				padding-top: .083rem;
			}
	
		}
		
	}
		
	.trait-sfx-name {
		font-style: italic;
	}

}

.trait-set-style-distinctions {
	@extend .trait-set-style-default;

	.trait-title {
		font-family: var(--font-secondary);
		color: black;
		text-transform: none;
		font-weight: 500;
		font-size: 1rem;
	}

	.trait-value {
		.c:not(.active) { display: none; }
	}

}

.trait-set-style-two-columns-detailed {
	@extend .trait-set-style-default;

	.trait-title {
		font-family: var(--font-secondary);
		color: black;
		text-transform: none;
		font-weight: 500;
		font-size: 1rem;
	}

	.trait-list {
		flex: 1 1 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: .5rem;
		position: relative;
	}

	.trait {
		flex: 0 0 50%;
	}
	
	.trait-sfx {
		display: none;
	}

	.trait-value {
		.c:not(.active) { display: none; }
	}

}

.trait-set-style-two-columns-compact {

	.trait-set-header {
		margin: 0;
		padding-bottom: 1rem;
		display: flex;
		justify-content: center;
	}

	.trait-set-header-inner {
		flex: 1;
		background: black;
		line-height: 1.5em;
		padding: .25rem 1rem;
		color: white;
		border-radius: 1rem;
		text-align: center;
		text-transform: uppercase;
		font-weight: 800;
		font-size: .717rem;
	}
	
	.trait-set-body {
		margin-top: 0;
		flex: 1;
	}
	
	.trait-list {
		flex: 1 1 0;
		display: grid;
		grid-template-columns: auto auto;
		gap: 1rem;
		position: relative;
	}

	.trait {
		// flex: 1 1 5rem;
	}
	
	.trait-title {
		position: relative;
		display: inline-block;
		margin: 0;
		font-size: .75rem;
		padding-left: 1.1rem;
	}

	.trait-name {
		display: inline-block;
		font-family: var(--font-secondary);
		line-height: 1.1;
		font-weight: 500;
		color: black;
		border: 1px solid black;
		border-left-width: 0;
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 1rem;
		margin: 0;
		padding: .25rem .5rem .25rem 1.35rem;
		text-align: left;
	}

	.trait-value {
		position: absolute;
		left: 0;
		top: calc( 50% - .1em );
		transform: translateY(-50%);
		font-size: 2.2rem;
		&::before {
			display: block;
			position: absolute;
			top: calc( 50% - .05em );
			left: 50%;
			transform: translate( -50%, -50% );
			font-size: 1.666rem;
			content: '';
			width: .6em;
			height: .6em;
			background: white;
			z-index: -1;
		}
		.c {
			font-size: 1em;
			&:not(.active) { display: none; }
		}
	}

	.trait-description {
		display: none;
	}

	.trait-sfx {
		display: none;
	}
}

.trait-set-style-assets {
	border: 1px solid var(--color-primary);
	background-color: var(--color-secondary);

	.trait-set-header {
		background: var(--color-primary);
		padding: 2px 4px;
		margin: 0;
	}

	.trait-set-header-inner {
		color: white;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		font-size: .75rem;
		line-height: 13px;
	}

	.trait-set-body {
		padding: .5rem;
	}
	
	.trait-list {
		display: flex;
		width: 100%;
		flex-direction: column;
		row-gap: .25rem;
		position: relative;
	}

	.trait-column:not(:first-child) {
		display: none;
	}

	.trait-inner {
		display: flex;
		column-gap: .5rem;
		align-items: center;
	}

	.trait-title {
		margin: 0;
		display: flex;
		column-gap: .5rem;
		align-items: center;
		font-family: var(--font-secondary);
		font-size: 1.2em;
		line-height: 1;
		font-weight: 500;
		color: black;
	}

	.trait-value {
		position: relative;
		transform: translateY(-.15em);
		.c:not(.active) {
			display: none;
		}
	}

	.trait-description {
		flex: 1;
		overflow: hidden;
		// white-space: nowrap;
		text-overflow: ellipsis;
	}

	.trait-sfx {
		display: none;
	}

}

.trait-set-style-resources {

	.trait-set-header {
		padding-bottom: .33rem;
		margin: 0 0 .33rem;
		border-bottom: 2px solid var(--color-primary);
	}

	.trait-set-header-inner {
		color: var(--color-primary);
		text-transform: uppercase;
		font-weight: 800;
		font-size: 1rem;
		line-height: 13px;
	}

	.trait-list {
		display: flex;
		width: 100%;
		flex-direction: column;
		row-gap: .25rem;
		position: relative;
	}

	.trait-column:not(:first-child) {
		display: none;
	}

	.trait {
	}

	.trait-inner {
		display: flex;
		column-gap: .5rem;
		align-items: center;
	}

	.trait-title {
		margin: 0;
		display: flex;
		column-gap: .5rem;
		align-items: center;
		font-family: var(--font-primary);
		font-size: .75rem;
		line-height: 1;
		font-weight: 400;
		color: black;
		padding-left: 1.5rem;
		&::before {
			display: block;
			content: '';
			width: .5rem;
			height: .5rem;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-color: var(--color-primary);
			border-radius: 50%;
		}
	}

	.trait-value {
		position: relative;
		transform: translateY(-.15em);
		.c:not(.active) {
			display: none;
		}
	}

	.trait-description {
		flex: 1;
		overflow: hidden;
		// white-space: nowrap;
		text-overflow: ellipsis;
	}

	.trait-sfx {
		display: none;
	}

}

.trait-set-style-stress {

	.trait-set-header {
		padding-bottom: .5rem;
	}
	
	.trait-set-header-inner {
		> div {
			color: var(--color-primary);
			background-color: var(--color-secondary);
			font-weight: 800;
			text-align: center;
			text-transform: uppercase;
			font-style: normal;
			font-size: .717rem;
		}
	}
	
	.trait-set-body {
		flex: 1;
		margin-top: 0;
	}
	
	.trait-list {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		row-gap: 1rem;
		position: relative;
	}
	
	.trait-title {
		flex: 1;
		margin: 0;
		display: flex;
		column-gap: .5rem;
		align-items: center;
		font-family: var(--font-secondary);
		font-size: 1.2em;
		line-height: 1;
		font-weight: 800;
		color: black;
	}

	.trait-value {
		flex: 1;
		display: flex;
		column-gap: 1rem;
		justify-content: flex-end;
		position: relative;
		&::after {
			display: block;
			position: absolute;
			content: '';
			background-color: black;
			left: 0;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 2px;
			z-index: -1;
		}

		.c {
			position: relative;
			top: -.12em;
			font-size: 1.5rem;
			&:not(.active) { color: var(--color-separator); }
			background-color: white;
			padding: .1em;
		}
	}

	.trait-description {
		display: none;
	}

	.trait-sfx {
		display: none;
	}

}
